@import '../node_modules/@angular/material/prebuilt-themes/indigo-pink.css';

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 95vh;
    gap: 50px;
}

.form {
    display: flex;
    flex-direction: column;

    div {
        display: flex;
        gap: 5px;
    }
}